@if (data$ | async; as data) {
  <div class="article-page">
    <div class="banner">
      @if (data.article) {
        <div class="container">
          <h1>{{ data.article.title }}</h1>
          <div class="article-meta">
            <app-article-meta [article]="data.article"></app-article-meta>
            @if (data.isAuthor) {
              <span>
                <a
                  [routerLink]="['/articles', data.article.slug, 'edit']"
                  class="btn btn-outline-secondary btn-sm"
                  ><i class="ion-edit"></i>Edit Article</a
                >
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteArticle()"
                >
                  Delete Article
                </button>
              </span>
            } @else {
              <app-follow-button
                [isFollowed]="data.article.author.following"
                [username]="data.article.author.username"
              />
              <app-add-to-favorites
                [isFavorited]="data.article.favorited"
                [favoritesCount]="data.article.favoritesCount"
                [articleSlug]="data.article.slug"
              />
            }
          </div>
        </div>
      }
    </div>
    <div class="container page">
      @if (data.isLoading) {
        <app-loading></app-loading>
      }
      @if (data.error) {
        <app-error-message></app-error-message>
      }
      @if (data.article) {
        <div class="row article-content">
          <div class="col-xs-12">
            <div>
              <p>{{ data.article.body }}</p>
            </div>
            <app-tag-list [tags]="data.article.tagList"></app-tag-list>
          </div>
        </div>
      }
      <hr />
    </div>
  </div>
}
